<div class="body">
    <div class="tap-view">
        <div class="text-container">
            <ol class="instructions">
                <li>Tap the drum to start the beat.</li>

                <li class="disabled">
                <p>Listen to the beat, feel it in your body.</p>
                <p>Then try to play along for {{length}} beats, without missing 
                {{#if maxFailedBeats}} more than {{maxFailedBeats}}
                {{else}}any{{/if}}.
                </p>

                <p class="remainingBeats" class="disabled">
                <span class="numBeats">{{remainingBeats}}</span> beats left
                </p>

                </li>

            </ol>
        </div>

        <div class="drum-container">
            <div class="drum disabled">
                <div class="overlay"></div>
            </div>
            <div class="loading msg">
                Loading...
            </div>
        </div>
    </div>
</div>
