<div class="body-region">
    <div class="tap-view">
        <div class="text-region">
            <ul class="instructions">
                <li class="active">Tap the drum to start the beat.</li>

                <li>
                <p>Try tapping along with the drum.</p>
                <button class="continue-button">Then tap here to continue</button>
                </li>

                <li>
                <p>Tap along for <strong>{{length}}</strong> beats without missing 
                {{#if maxFailedBeats}} more than <strong>{{maxFailedBeats}}</strong>
                {{else}}<strong>any</strong>{{/if}}.</p>
                <p>Tap the drum to start</p>
                <p><strong><span class="remaining-beats"></span></strong></p>
                </li>

            </ul>
        </div>

        <div class="drum-region">
            <div class="drum disabled">
                <div class="overlay"></div>
            </div>
            <div class="loading msg">
                Loading...
            </div>
        </div>
    </div>
</div>
