<div class="body-region">
    <div class="tap-view">
        <div class="text-region">
            <ol class="instructions">
                <li>Tap 'start beat'.</li>

                <li class="disabled">
                <p>Listen to the beat, feel it in your body. Try to tap along with it on the drum.</p>
                <p>When you're ready, tap 'prepare to record'</p>
                </li>

                <li class="disabled">
                <p>Tap on the drum for <strong>{{length}}</strong> beats, without missing 
                {{#if maxFailedBeats}} more than <strong>{{maxFailedBeats}}</strong>
                {{else}}<strong>any</strong>{{/if}}.
                </p>
                </li>

            </ol>
        </div>

        <div class="drum-region">
            <div class="drum disabled">
                <div class="overlay"></div>
            </div>
            <div class="loading msg">
                Loading...
            </div>
            <button class="action-button">start beat</button>
        </div>
    </div>
</div>
